fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-dotenv
pydantic
python-multipart
python-magic
requests
pypdfium2
pdfplumber
streamlit
streamlit-cookies-controller
sentence-transformers
torch
transformers
faiss-cpu
google-genai
google-api-python-client
PyJWT
pwdlib[argon2]
passlib[bcrypt]
bcrypt==4.0.1