--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
python-dotenv
pydantic[email]
pydantic-settings
email-validator
python-multipart
python-magic
requests
pypdfium2
pdfplumber
streamlit
streamlit-cookies-controller
torch
transformers
sentence-transformers
faiss-cpu
google-genai
google-api-python-client
PyJWT
pwdlib[argon2]
argon2-cffi
passlib[bcrypt]
bcrypt==4.0.1